Flask
Gunicorn
opencv-python
numpy
Pillow
passlib
SQLAlchemy
anyi
argon2-cffi
argon2-cffi-bindings
arro
asttoken
async-lr
attrs
Babel
bcrypt
beautifulsoup4
bleach
blinker
certifi
cffi
charset-normalizer
click
colorama
fastjsonschema
Flask
Flask-SQLAlchemy
fonttools
fqdn
greenlet
h11
httpcore
httpx
idna
ipykernel
ipython
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-widgets
jupyterlab_pygments
jupyterlab_server
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mistune
mysqlclient
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
opencv-python
overrides
packaging
pandas
pandocfilters
parso
passlib
pillow
platformdirs
prometheus-client
prompt-toolkit
psutil
pure-eval
pycparser
Pygments
pyparsing
python-dateutil
python-json-logger
pytz
pywin32
pywinpty
PyYAML
pyzmq
qtconsole
QtPy
referencing
requests
rfc3339-validator
rfc3986-validator
rpds-py
scikit-learn
scipy
Send2Trash
six
sniffio
soupsieve
SQLAlchemy
stack-data
terminado
threadpoolctl
tinycss2
tornado
traitlets
types-python-dateutil
typing_extensions
tzdata
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
widgetsnbextension
